.code {
    border-right: 2px solid;
    font-size: 1.58rem;
    padding: 0 0.79rem;
    text-align: center;
}

.message {
    font-size: 1.106rem;
    text-align: center;
    padding: 0 0.632rem;
}

@media (prefers-color-scheme: dark) {
    .code {
        color: var(--dk-cyan);
    }
}
