/* rhythm(1) = 1.58rem, rhythm(0.7) = 1.106rem, rhythm(0.5) = 0.79rem, rhythm(0.4) = 0.632rem */
.code {
    border-right: 2px solid;
    font-size: 1.58rem;
    padding: 0 0.79rem;
    text-align: center;
}

.message {
    font-size: 1.106rem;
    text-align: center;
    padding: 0 0.632rem;
}
