.date {
    color: light-dark(#ccc, var(--dk-cyan));
    font-size: 0.79rem;
    padding: 0.79rem 0;
}

.tags {
    display: flex;
    font-size: 0.948rem;
    flex-wrap: wrap;
}

.tag {
    margin: 0.79rem 0.79rem 0 0;
}

.title {
}

.anchor {
    background-image: none;
    visibility: hidden;
    margin-left: -1.58rem;
}

h1:hover .anchor {
    visibility: visible;
}
